/* ! POCZATEK PANELU WLASCICIELA */

#panel {
  width: 400px;
  height: 850px;
  background-color: #ffffff;
  color: #ffffff;
  position: absolute;
  top: 40px;
  left: 60px;
  z-index: 1;
  border-radius: 20px;
}

#panel_logo {
  border-radius: 10px;
  background-color: #28a228;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px;
}

img {
  float: left;
  margin-left: 10px;
  height: 50px;
}

#panel_menu {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px;
}

.menu_gospodarz {
  list-style-type: none;
  padding: 20px;
  font-size: 20px;
  min-height: 38px;
  line-height: 200%;
}

.menu_gospodarz > li {
  margin-bottom: 70px;
}

.menu_gospodarz a {
  color: #ffffff;
  background-color: #2db82d;
  text-decoration: none;
  border-radius: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  justify-content: center;
}

.menu a:hover {
  background-color: #1ca71c;
}

/* ! KONIEC PANELU WLASCICIELA */

/* ! POCZATEK GŁOWNEJ CZESCI STRONY */

#czescglownaGospodarz {
  width: 1199px;
  height: 850px;
  position: absolute;
  top: 40px;
  left: 610px;
  z-index: -1;
  border-radius: 20px;
}

.opcje {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 198px;
  grid-row-gap: 200px;
}

.opcja1 {
  grid-area: 1 / 1 / 2 / 2;
}
.opcja2 {
  grid-area: 1 / 2 / 2 / 3;
}

.opcja3 {
  grid-area: 2 / 1 / 3 / 2;
}

.opcja4 {
  grid-area: 2 / 2 / 3 / 3;
}

.opcja1,
.opcja2,
.opcja3,
.opcja4 {
  background-color: #ffffff;
  width: 500px;
  height: 325px;
  border-radius: 20px;
}

#tytul_opcji {
  font-size: 30px;
  margin-top: 25px;
}

#zawartoscOpcji {
  background-color: #6eba63;
  margin-top: 10px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 40px;
}

#zawartoscOpcji > ul {
  list-style-type: none;
  padding: 0;
}

#zawartoscOpcji > ul > li {
  margin-bottom: 20px;
}

#pokazWiecej a {
  text-decoration: none;
  color: black;
}
#pokazWiecej a:hover {
  color: gray;
}
/* ! KONIEC GŁOWNEJ CZESCI STRONY */

/* ! POCZATEK EKRANU TWOJE KONTO */

.twojekonto {
  width: 1199px;
  height: 850px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 20px;
}

#twojekonto_pom {
  width: 1000px;
  height: 700px;
  background-color: #28A228;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

#twojekonto_dane {
  background-color: white;
  width: 500px;
  padding: 50px;
  position: absolute;
  top: 53.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 20px;
}

#twojekonto_dane input[type="text"] {
  width: 300px;
  background-color: #efefef;
  color: #666;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  margin-top: 20px;
}

#twojekonto_dane input[type="text"]:focus {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
  -moz-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
  box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
  border: 2px solid #a5cda5;
  background-color: #e9f3e9;
  color: #428c42;
}

/* ! KONIEC EKRANU TWOJE KONTO */

/* !  POCZATEK EKRANU PRACOWNICY */

.pracownicy {
  width: 1199px;
  height: 850px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 20px;
}

.pracownicy_naglowek {
  padding: 20px;
}

.pracownicy_naglowek a {
  background-color: #2db82d;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
}

.pracownicy_naglowek a:hover {
  background-color: #1ca71c;
}

.pracownicy_tabela table {
  width: 0 auto;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
}

.pracownicy_tabela tbody {
  width: 100%;
  background-color: rgba(47, 163, 72, 0.7);
}

.pracownicy_tabela tr {
  width: 100%;
}

.pracownicy_tabela td {
  padding: 20px 15px;
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  color: black;
}

.pracownicy_tabela td:nth-child(1) {
  width: 7%;
}

.pracownicy_tabela td:nth-child(2) {
  width: 20%;
}

.pracownicy_tabela td:nth-child(3) {
  width: 20%;
}

.pracownicy_tabela td:nth-child(4) {
  width: 20%;
}

.pracownicy_tabela td:nth-child(5) {
  width: 20%;
}

/* !  KONIEC EKRANU PRACOWNICY */

/* !  POCZATEK EKRANU DODAJ PRACOWNIKA */

.dodajpracownika {
  width: 1199px;
  height: 850px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 20px;
}

#dodajpracownika_pom {
  width: 1000px;
  height: 700px;
  background-color: #28A228;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

#dadajpracownika_formularz {
  background-color: white;
  width: 300px;
  padding: 50px;
  position: absolute;
  top: 53.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 20px;
  border: 2px solid #000000;
}

#dadajpracownika_formularz input[type="text"] {
  width: 300px;
  background-color: #efefef;
  color: #666;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  margin-top: 20px;
}

#dadajpracownika_formularz input[type="text"]:focus {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
  -moz-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
  box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
  border: 2px solid #a5cda5;
  background-color: #e9f3e9;
  color: #428c42;
}

button {
  background-color: #2db82d;
  color: #ffffff;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
}

button:hover {
  background-color: #1ca71c;
}
/* !  KONIEC EKRANU DAODAJ PRACOWNIKA */

/* !  POCZATEK EKRANU ZADANIA GOSPODARZ */

.zadania_gospodarz {
  width: 1199px;
  height: 850px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 20px;
}

.zadania_tabela {
  padding: 20px;
}

.zadania_naglowek a {
  background-color: #2db82d;
  color: #ffffff;
  text-decoration: none;
  border-radius: 20px;
  padding: 10px;
}

.zadania_naglowek a:hover {
  background-color: #1ca71c;
}

.zadania_tabela table {
  width: 0 auto;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
}

.zadania_tabela tbody {
  width: 100%;
  background-color: rgba(47, 163, 72, 0.7);
}

.zadania_tabela tr {
  width: 100%;
}

.zadania_tabela td {
  padding: 20px 15px;
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  color: black;
}

.zadania_tabela td:nth-child(1) {
  width: 50%;
}

.zadania_tabela td:nth-child(2) {
  width: 15%;
}

.zadania_tabela td:nth-child(3) {
  width: 15%;
}

.zadania_tabela td:nth-child(4) {
  width: 15%;
}

.zadania_tabela td:nth-child(5) {
  width: 15%;
}

/* !  KONIEC EKRANU ZADANIA GOSPODARZ */

/* !  POCZATEK EKRANU DODAJ ZADANIE */

.dodajzadanie {
  width: 1199px;
  height: 850px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 20px;
}

#dodajzadanie_pom {
  width: 1000px;
  height: 700px;
  background-color: #28A228;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

#dadajzadanie_formularz {
  background-color: white;
  width: 300px;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 20px;
  border: 2px solid #000000;
}

#dadajzadanie_formularz input[type="text"] {
  width: 300px;
  background-color: #efefef;
  color: #666;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  margin-top: 20px;
}

#dadajzadanie_formularz input[type="text"]:focus {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
  -moz-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
  box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
  border: 2px solid #a5cda5;
  background-color: #e9f3e9;
  color: #428c42;
}

button {
  background-color: #2db82d;
  color: #ffffff;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
}

button:hover {
  background-color: #1ca71c;
}

/* !  KONIEC EKRANU DAODAJ ZADANIE */
